@charset "ISO-8859-1";
@charset "ISO-8859-1";
body {
  font-family: "Lato", unset;
}
#left{
    background-color: #BBE9E6;
    height: 4.6em;
}
#centerPart{
    background-color: #BBE9E6;
    height: 4.6em;
 
}
#right{
    background-color: #BBE9E6;
    height: 4.6em;
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #left {
      width: 20%;
    }
    #centerPart {
        width: 80%;
      }
      #right {
        width: 100%;
        height: 4.4em;
        margin-top: -1em;
      }
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BBE9E6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #BBE9E6;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #BBE9E6;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: -.6em;
    
  }
  #main button {
    font-size: 30px;
    color: #01858A;

  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  #menu {
    height: 4.6em;
  }
  #logo {
    height: 4.6em;
  }
  #contactNo {
    height: 4.6em;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #menu {
      display: none;
    }
    #logo {
        width: 100%;
      }
      #contactNo {
        display: none;

      }
      #centerPart #logo .center {
        margin-left: 10%;
        margin-top: 7%;
      } 
      .mainSearchForm {
        margin-left: 9%;
      }
  }

  @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    #w1 {
      display: none;
    }
    #m1 {
      display: none;
      }
      #k1 {
        display: none;

      }
  
  }
.center {
    margin-left: 30%;
    margin-top: 4%;
  }
  
  .menuBar {
    margin-left: 3.4em;
    width: 85%;
    text-align: center;
  }
  .menuBar .women {
    
    height: 4.6em;
    width: 33.3%;
   
  }
  .menuBar .men { 
    height: 4.6em;
    width: 33.3%; 
  }
  .menuBar .kids {
    
    height: 4.6em;
    width: 33.3%; 
  }
  .menuBar .women a{
    text-decoration: none;
    color: #30488E;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -2em;
  }
  .menuBar .men a{
    text-decoration: none;
    color: #30488E;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -1em;
  }
  .menuBar .kids a{
    text-decoration: none;
    color: #30488E;
    position: absolute;
    margin-top: 1.5em;
    margin-left: -1em;
  }
  .menuBar .women:hover {
    background-color: #EBB3BE;
  }
  .menuBar .men:hover {
    background-color: #EBB3BE;
  }
  .menuBar .kids:hover {
    background-color: #EBB3BE;
  }
  #contactNo {
    margin-top: 1.7em;
    float: right;
    color: #02858D;
  }
  .mainSearchForm {
    border: .2px solid white;
    margin-top: 1em;
    width: 80%;
    height:50%;
  }
  .mainSearchForm input {
    outline: none;
    border: none;
    background-color: #BBE9E6;
    color: #30488E;
    padding: .3em;
    
  }
  .mainSearchForm input:focus {
    box-shadow: none;
    outline: none;
    
}
.searchIcon {
  margin-top: .4em;
  float: right;
  margin-right: 1em;
}
 
/*product area begins*/

 #priductMainDiv {
    margin-top: 1em;
}
#priductMainDiv a {
    text-decoration: none;
    line-height: 1em;
}
#priductMainDiv a:hover {
    color: #00858E;
    font-size: 1.2em;
}
/*left sidebar begins*/
.categoryHeading {
    color: #E5657C;

}
#productCategories h6 {
    color: #929292;
}
.categoryDiv1 {
    height: 8em;
    margin-top: 3em;
    font-size: .8em;
    line-height: 2em;
    color: #E5657C;
}
.categoryDiv1 a {
    color: #E5657C;
}
.categoryDiv2 {
    height: 12em;
    margin-top: 5em;
    font-size: .8em;               
    line-height: 2em;
}
.categoryDiv2 a {
    color: #6F6F6F;
}
.categoryDiv3 {
    height: 4em;
    margin-top: 2em;
    font-size: .8em;
    line-height: 2em;
}
.categoryDiv3 a {
    color: #E5657C;
}
.categoryDiv4 {
    height: 18em;
    margin-top: 5em;
    font-size: .8em;
    line-height: 2em;
}
.categoryDiv4 a {
    color: #6F6F6F;
}
.categoryDiv5 {
    height: 30em;
    margin-top: 6em;
    font-size: .8em;
    line-height: 2em;

}
/*product details begin*/
#productDetails {
    font-size: .8em;
    
}
.firstRowProduct {
    width: 100%;
    height: 32em;    
}
.secondRowProduct {
    width: 100%;
    height: 32em;
}
.thirdRowProduct {
    width: 100%;
    height: 32em;
}
.fourthRowProduct {
    width: 100%;
    height: 32em;
}
/*individual product details begin*/
.firstRowProduct {
    width: 100%;
    height: 32em;   
}
.product {  
    padding: .5em;  
}
#product1 {
        
}
#product2 {
    
}
#product3 {
    
}
.productPicture {
    width: 100%;
    height: 26.5em;
    background-color: #EBEBEB;
}
.productPicture img {
    margin-left: 2em;
}

.productTag {
    width: 100%;
    height: 20%;
    background-color: #FFFFFF;
}
#productDetails .productTag #productHeading {
    color: #E5657C;
    font-size: 1.1em;

}
#productDetails #productName {  
    font-size: 1.1em; 
}
#productDetails #productPrice {
    color: #00858E;
    font-size: 1.1em;
}